@font-face {
  font-family: 'Light'; /*Can be any text*/
  src: local('GraphikLight'), url('./fonts/GraphikLight.otf') format('truetype');
}
@font-face {
  font-family: 'Medium'; /*Can be any text*/
  src: local('GraphikMedium'),
    url('./fonts/GraphikMedium.otf') format('truetype');
}
@font-face {
  font-family: 'Bold'; /*Can be any text*/
  src: local('GraphikBold'), url('./fonts/GraphikBold.otf') format('truetype');
}
